<%- include("partials/header.ejs") %> <%- include("partials/navbar.ejs") %>

<section class="container">
  <h1><%= locals.title %></h1>
  <p><%= locals.year %></p>
  <p><%= locals.rating %></p>
  <div class="apidata">
    <img src="<%= locals.image %> height=200" />
  </div>
  <div class="postdata">
    <h2><%= locals.blog_title %></h2>
    <p><%= locals.post %></p>
  </div>
</section>

<%- include("partials/footer.ejs") %>
