<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<section class="post-container">
  <h1><%= locals.heading %></h1>

  <form id="fetch-data" action="/new" method="POST">
    <div class="form-group">
      <div class="input-button">
        <label for="movietitle">Movie Title</label>
        <input
          type="text"
          name="movietitle"
          placeholder="E.g. Once upon a time in hollywood"
          autocomplete="off"
          required
        /><button type="submit">Fetch Data</button>
        <span id="status">
          <% fetchResult.slice(-1).forEach(item => { %> <% if (item.status ==
          "False") { %> <%= "No movie matched your search" %> <% } else { %>
          <p>Title: <%= item.title %></p>
          <p>Year: <%= item.year %></p>
          <p>Genre: <%= item.genre %></p>
          <p>Director: <%= item.director %></p>
          <img src="<%= item.image%>" style="border-radius: 5px" width="150" />
          <% } %> <% }); %>
        </span>
      </div>
    </div>
  </form>
  <form id="new-post" action="/submit" method="POST">
    <div class="form-group">
      <label for="titlepost">Post Title</label>
      <input
        type="text"
        name="titlepost"
        placeholder="What's your secret?"
        required
      />
      <label for="articles">Write down article</label>
      <textarea placeholder="..." name="articles"></textarea>
      <div class="input-button">
        <label for="rating">Movie Rating</label>
        <input
          type="number"
          name="rating"
          min="0"
          max="10"
          step=".1"
          onkeydown="return false"
        />
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>

<%- include('partials/footer.ejs') %>
